  {% extends "base.html" %}
  {% block content %}
  <form method="POST" class="p-1 mb-3 mt-3" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row justify-content-center">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="folder_path" name="folder_path" placeholder="Enter Forder path">
      </div>
      <h6 class="p-2 text-primary">Or</h6>
      <div class="form-group col-md-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="file" id="customFile" accept="text/plain" />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary" type="submit" style="width: 100%">Sumbit</button>
      </div>
    </div>
  </form>
  <div class="card mt-3 mb-3">
    <div class="card-header">
      <strong>Mange folders</strong> <small class="text-primary">upload only txt file</small>
      <div class="d-inline-flex float-right">
        <a href="{% url 'manage_folders' %}?status=active_all" class="btn btn-success mr-2 text-white btn-sm" type="submit" style="width: 100%">Active all</a>
        <a href="{% url 'manage_folders' %}?status=inactive_all" class="btn btn-warning ml-2 mr-2 btn-sm" type="submit" style="width: 100%">Inactive all</a>
        <a href="{% url 'manage_folders' %}?status=delete_all" class="btn btn-danger  ml-2 text-white btn-sm" type="submit" style="width: 100%">Delete all</a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">#</th>
            <th scope="col">Path</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for set in folder_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{set.path}}</td>
            <td>
            	{% if set.status == True %}
            	Active
            	{% else %}
            	Not active
            	{% endif %}
            </td>
            <td>
            	{% if set.status == True%}
            	<a class="btn btn-success btn-sm" href="{% url 'update_folders' set.id set.status %}"><i class="fa fa-eye"></i></a>
            	{% else %}
            	<a class="btn btn-warning btn-sm" href="{% url 'update_folders' set.id set.status %}"><i class="fa fa-eye"></i></button>
               {% endif %}
               <a class="btn btn-danger btn-sm ml-2" href="{% url 'delete_folders' set.id %}"><i class="fa fa-trash"></i></a>
             </td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
   </div><!-- /container -->
   {% load static %}
   {% endblock content %}