{% extends "base.html" %}
{% block content %}
<div class="card mt-3 mb-3">
  <div class="card-header"><strong>Folder Monitor</strong> <small>django file monitor</small></div>
  <div class="card-body">
    <table id="example" class="table table-striped table-bordered" style="width:auto;">
      <thead>
        <tr class="bg-primary text-white">
          <th >#</th>
          <th >Name</th>
          <th >Path</th>
          <th >Modified Date</th>
          <th >Parent</th>
          <th >File Count</th>
        </tr>
      </thead>
      <tbody>
        {% for folder in folders%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{folder.name}}</td>
          <td>{{folder.path}}</td>
          <td>{{folder.date_modified|date:"jS F Y H:i"}}</td>
          <td>{{folder.parent}}</td>
          <td>{{folder.id|count_file}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}